:root {
  --primary: #0d0d0d;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000000;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(163, 163, 163, 0.306);
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  display: flex;
  height: 40px;
  width: 40px;
}

.navbar .navbar-n a {
  color: #424749;
  font-size: 1.2rem;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar .navbar-acc a {
  color: #424749;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content .welcome {
  display: flex;
  width: 292px;
  color: rgba(255, 255, 255, 0.6499999761581421);
  position: absolute;
  top: 500px;
  left: 574px;
  font-family: Atkinson Hyperlegible;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.hero .content .title {
  width: 100%;
  color: rgba(255, 255, 255, 0.8500000238418579);
  position: absolute;
  top: 520px;
  font-family: Allerta Stencil;
  font-weight: Regular;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}

.product-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.product-container .location .location-text {
  color: rgba(70, 70, 70, 1);
  position: relative;
  top: 60px;
  left: 80px;
  font-family: Montserrat;
  font-style: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.product-container .location .location-input {
  position: relative;
  top: 80px;
  left: 80px;
}

.product-container .pilihan .pilihan-text {
  width: 188px;
  color: rgba(70, 70, 70, 1);
  position: relative;
  top: 130px;
  left: 80px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.about {
  width: 100%;
  height: 804px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 2048px;
  left: 0px;
  overflow: hidden;
}

.about .about-bg {
  width: 100%;
  height: 804px;
  background: url("../images/v940_2539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.about .about-bg .background {
  width: 311px;
  height: 355px;
  background: url("../images/v940_2540.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 964px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.about .about-bg .titler {
  width: 315px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 247px;
  left: 162px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.about .about-bg .desc {
  width: 714px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 302px;
  left: 162px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.about .order {
  width: 208px;
  height: 60px;
  background: #040404;
  text-align: center;
  padding: 15px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 162px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: Medium;
  font-size: 20px;
}

.faq {
  width: 100%;
  height: 598px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 2852px;
  left: 0px;
  overflow: hidden;
}

.faq .faq-head {
  width: 547px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 447px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}

.v940_2566 {
  width: 100%;
  height: 334px;
  background: url("../images/v940_2566.png");
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2.7625679969787598px 2px rgba(0, 0, 0, 0.017420558258891106);
  overflow: hidden;
}
.v940_2567 {
  width: 353px;
  height: 334px;
  background: url("../images/v940_2567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v940_2568 {
  width: 353px;
  height: 334px;
  background: rgba(227, 227, 227, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2569 {
  width: 305px;
  height: 269px;
  background: url("../images/v940_2569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2570 {
  width: 148px;
  height: 148px;
  background: url("../images/v940_2570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 78px;
  overflow: hidden;
}
.v940_2571 {
  width: 120px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 163px;
  left: 92px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v940_2572 {
  width: 305px;
  color: rgba(70, 70, 70, 1);
  position: absolute;
  top: 209px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.v940_2573 {
  width: 353px;
  height: 334px;
  background: url("../images/v940_2573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 473px;
  overflow: hidden;
}
.v940_2574 {
  width: 353px;
  height: 334px;
  background: rgba(227, 227, 227, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2575 {
  width: 305px;
  height: 263px;
  background: url("../images/v940_2575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2576 {
  width: 142px;
  height: 142px;
  background: url("../images/v940_2576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 81px;
  overflow: hidden;
}
.v940_2577 {
  width: 181px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 157px;
  left: 62px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v940_2578 {
  width: 305px;
  color: rgba(70, 70, 70, 1);
  position: absolute;
  top: 203px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v940_2579 {
  width: 353px;
  height: 334px;
  background: url("../images/v940_2579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 946px;
  overflow: hidden;
}
.v940_2580 {
  width: 353px;
  height: 334px;
  background: rgba(227, 227, 227, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2581 {
  width: 305px;
  height: 259px;
  background: url("../images/v940_2581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v940_2582 {
  width: 138px;
  height: 138px;
  background: url("../images/v940_2582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v940_2583 {
  width: 182px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 153px;
  left: 61px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v940_2584 {
  width: 305px;
  color: rgba(70, 70, 70, 1);
  position: absolute;
  top: 199px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.contact {
  width: 100%;
  height: 646px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 3450px;
  left: 0px;
  overflow: hidden;
}

.contact .contact-bg {
  width: 100%;
  height: 646px;
  background: url("../images/v940_2587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.contact .contact-bg .tentang {
  width: 186px;
  height: 222px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 200px;
  overflow: hidden;
}

.contact .contact-bg .tentang .tentang-kontak {
  width: 143px;
  color: rgba(209, 205, 205, 1);
  position: absolute;
  top: 198px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.contact .contact-bg .tentang .tentang-kami {
  width: 145px;
  color: rgba(209, 205, 205, 1);
  position: absolute;
  top: 143px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.contact .contact-bg .tentang .tentang-order {
  width: 60px;
  color: rgba(209, 205, 205, 1);
  position: absolute;
  top: 88px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.contact .contact-bg .tentang .tentang-title {
  width: 186px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.sosial {
  width: 192px;
  height: 345px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 561px;
  overflow: hidden;
}

.sosial .sosial-teks {
  width: 127px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.sosial .instagram p {
  width: 106px;
  color: rgba(255, 255, 255, 0.8500000238418579);
  position: absolute;
  top: 88px;
  left: 84px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.sosial .whatsapp p {
  width: 108px;
  color: rgba(255, 255, 255, 0.8500000238418579);
  position: absolute;
  top: 163px;
  left: 84px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.sosial .facebook p {
  width: 101px;
  color: rgba(255, 255, 255, 0.8500000238418579);
  position: absolute;
  top: 238px;
  left: 84px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.sosial .facebook a {
  color: rgba(255, 255, 255, 0.8500000238418579);
}

.sosial .twitter p {
  width: 73px;
  color: rgba(255, 255, 255, 0.8500000238418579);
  position: absolute;
  top: 310px;
  left: 84px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.sosial .instagram img {
  top: 88px;
}

.contact p {
  width: 560px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 580px;
  left: 440px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

.contact .metode {
  width: 350px;
  height: 385px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1000px;
  overflow: hidden;
}

.contact .metode .pembayaran p {
  width: 278px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.contact .metode .pengiriman p {
  width: 266px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 268px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.contact .metode .pengiriman .jnt {
  width: 121px;
  height: 39px;
  background: url("../images/v940_2597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 0px;
  overflow: hidden;
}

.contact .metode .pengiriman .sicepat {
  width: 121px;
  height: 39px;
  background: url("../images/v940_2598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 166px;
  overflow: hidden;
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

.button {
  color: #fff;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.home {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #54beb8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #54beb8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #54beb8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #54beb8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #54beb8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.jarak {
  margin-top: 50px;
}

.car {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.car .content {
  display: flex;
}

.car .content .carsize {
  margin-left: 30px;
}
.car .content .mobil {
  width: 700px;
  margin-left: 100px;
}

.car .content .nama-mobil {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  animation-name: modal-animation;
  animation-duration: 0.3s;
}

@keyframes modal-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-body {
  line-height: 1.5;
}
